<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" href="{% static "css/demo1.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align ='center'>
    <div class="jumbotron">
      <h1 >Welocome to SRAVANTH NEWS Portal</h1>
      <p>Continous News Update</p>

   <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">Sports Information</a>&nbsp&nbsp&nbsp&nbsp&nbsp
   <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">Movies Information</a>&nbsp&nbsp&nbsp&nbsp&nbsp
   <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">Politics Information</a>

   </div>
    </div>

  </body>
</html>
