<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo1.css" %}">
    <title></title>
  </head>
  <body>
    <h1>{{head_msg}}</h1><hr>
    <ul>
      <li>{{msg1}}</li>
      <li>{{msg2}}</li>
      <li>{{msg3}}</li>
    </ul>
    <img src="{% static "images/Anushka1.jpg" %}" alt="">
    <img src="{%static "images/Anushka3.jpg" %}" alt="">
    <img src="{% static "images/Dhoni.jpg" %}" alt="">
    <img src="{%static "images/Ntr.jpg"%}" alt="">

  </body>
</html>
